button {
  padding: 1rem 2rem;
  border: 2px solid black;
  font-weight: 700;
  margin-right: 1rem;
  cursor: pointer;
}

button:hover {
  border-color: white;
  background-color: black;
  color: white;
}